.settings_title{
    font-family: Poppins;
font-size: 50.53px;
font-weight: 700;
line-height: 75.79px;
letter-spacing: 0.03em;
text-align: left;

}

.input_div{
    border: 2px solid rgb(202, 199, 199);
    border-radius: 10px;
  
    width: 493px;
    height: 55px;
}
.custom_btn{
    border-radius: 10px;
  
    width: 493px;
    height: 55px;
}
.input_field {
    all: unset;           
    font: inherit;        
    text-align: left;     
    padding: 0.4em;      
    border:none;
    outline: none;      
    width: 100%;         
    box-sizing: border-box;
  }
  