body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background: #f8f9fa;
    padding: 20px;
    text-align: left;
    padding-left: 25%;
  }
  
  .sidebar-item {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .sidebar-item button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .board-container {
    display: flex;
    overflow-x: scroll;
  }
  
  .column {
    min-width: 300px;
    margin-right: 20px;
  }
  
  .card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter-button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filter-button:focus {
    outline: none;
  }
  .settings-container h1 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .update-button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .update-button:focus {
    outline: none;
  }